@import "_variable.scss";
@mixin media-max-width($width){
    @media(max-width:$width){
        @content;
    }
}
body{
    font-family: $font;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    background: url("images/bg-pattern-top-desktop.svg"),url("images/bg-pattern-bottom-desktop.svg");
    background-color: $White;
    margin:0;
    background-repeat: no-repeat,no-repeat;
    background-position: left top, right bottom;
    min-height: 100vh;
    display: grid;
    grid-template-rows: [firsthalf-start]1.1fr [bottomhalf-start]0.9fr[bottomhalf-end];
    grid-template-columns: [lefthalf-start]1fr [righthalf-start]1fr[righthalf-end];
    @include media-max-width(27rem){
        background-image: url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
        grid-template-rows: [slogan-start]fit-content(4rem) [rating-start]fit-content(4rem) [review-start]fit-content(4rem)[review-end];
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
    }

}
.slogan{
    height: fit-content;
    width: 30rem;
    justify-self: end;
    padding-right: 2rem;
    grid-column: lefthalf-start/righthalf-start;
    grid-row: firsthalf-start/bottomhalf-start;
    @include media-max-width(27rem){
        // grid-column: col-start/col-end;
        grid-row: slogan-start/rating-start;
        width: 100%;
        text-align: center;
    }
    h1{
        color: $Very-Dark-Magenta;
        font-weight: 700;
        font-size: 3.5rem;
        // margin-bottom: 1.2rem;
        @include media-max-width(27rem){
            font-size: 3rem;
            // padding: 0 1.7rem ;
        }
    }
    p{
        color: $Dark-Grayish-Magenta;
        font-size: 1.2rem;
    }
}
.star-ratings{
    grid-column: righthalf-start/righthalf-end;
    grid-row: firsthalf-start/bottomhalf-start;
    justify-self: start;
    display: flex;
    flex-direction: column;
    // height: 2rem;
    @include media-max-width(27rem){
        // grid-column: col-start/col-end;
        grid-row: rating-start/review-start;
        width: 100%;
        align-items: center;

        
    }
    div{
        border-radius: 0.5rem;
        width: 25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: $Light-Grayish-Magenta;
        margin-top: 1.5rem;
        @include media-max-width(27rem){
            span{
                margin: 1rem;
            }
            width: 100%;
            flex-direction: column;
            text-align: center;
            margin: 1rem;
        }

        p{
            color: $Very-Dark-Magenta;
            font-weight: 700;
            margin-left: 1rem;
            margin-right: 3rem;
            @include media-max-width(27rem){
                margin: 0.5rem 0;
                margin-top:0 ; 
                width: 100%;       
            }
        }

    }
    .report-guru{
        margin-left: 3rem;
        @include media-max-width(27rem){
            margin: 1rem;        
        }
        p{
            margin-right: 1.3rem;
        }
    }
    .best-tech{
        margin-left: 6rem;
        @include media-max-width(27rem){
            margin:1rem;        
        }
    }
}

.customer-reviews{
    // margin-left: 5rem;
    align-self: start;
    justify-self: center;
    // padding-left: 13rem;
    grid-column: lefthalf-start/righthalf-end;
    grid-row: bottomhalf-start/bottomhalf-end;
    display: flex;
    @include media-max-width(27rem){
        // grid-column: col-start/col-end;
        grid-row: review-start/review-end;
        flex-direction: column;
        margin: 4rem 0;
        margin-bottom: 8rem;
        font-size: 1.3rem;   
    }
    
    // justify-content: space-evenly;
    .review{
        color: $White;
        height: fit-content;
        width: 20rem;
        padding: 2rem 0;
        background-color: $Very-Dark-Magenta;
        margin-left: 2rem;
        border-radius: 0.5rem;
        @include media-max-width(27rem){
            margin: 0;
            width: 100%;        
        }
    }
    .user{
        padding: 0 2rem;
        display: flex;
        // justify-content: space-around;
        align-items: center;
        .profile{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            background-image: url("images/image-colton.jpg");
            background-size: contain;
        }
        .profile-2{
            background-image: url("images/image-irene.jpg");
        }
        .profile-3{
            background-image: url("images/image-anne.jpg");
        }
        .name{
            margin-left: 1rem;

            p{
                margin: 0;
                font-weight: 500;
            }
            p:first-child{
                color:$White;
                
            }
            p:nth-child(2){
                color: $Soft-Pink;
            }
        }
    }
    .review:first-child{
        margin-left: 0;
    }
    .review-content{
        margin-top: 2rem;
        padding: 0 2rem;
        
    }
    .review:nth-child(2){
        margin-top: 1rem;

    }
    .review:nth-child(3){
        margin-top: 2rem;

    }
}